/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html, body {
    height:100%;
    background-color:#c7e9ed !important;
}

.circle {
    margin: auto;
    width:30vh; 
    height:30vh;
}
.circle2 {
    margin: auto;
    width:30vh; 
    height:30vh;
}

.input {
    margin: auto;
    width: 70vw;
}
.input2 {
    
    width: 90vw;
}

.info  {
    text-align:center;
    width: 100%;
    border: 0px;
    height: 5vh;
}
.info2  {
    text-align:center;
    width: 65%;
    border: 0px;
    height: 4vh;
    float:right;
    margin-right: 25px;
    background: transparent;
    border-bottom: 2px solid #72c7e5;
}

.info_name {
    font-size:21px; 
    margin-left:12px;
}

.info_password {
    font-size:21px; 
    margin-left:-4px;
}
.infolink1 {
    background-color: #15213b;
    width: 100%;
    height: 4.5vh;
    color:white;
}

.infolink2 {
    background-color: #15213b;
    width: 100%;
    height: 4.5vh;
    color:white;
}

::-webkit-input-placeholder {
   color: black;
   text-align:left !important;
}

:-moz-placeholder { /* Firefox 18- */
   color: black;  
   text-align:left !important;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: black;  
   text-align:left !important;
}

:-ms-input-placeholder {  
   color: black;  
   text-align:left !important;
}
.login {
    padding:0;
    border:0;
    background-color: yellow;
}

.yellow {
  background: white; /* For browsers that do not support gradients */
  /* Standard syntax */
}


select {
    width: 70px;
  -webkit-appearance: none;  /* 네이티브 외형 감추기 */
  -moz-appearance: none;
  appearance: none;
  background: url("/assets/arrow5.png") no-repeat 95% 50%;  /* 화살표 모양의 이미지 */ 
  background-color:white;
  border: 2px solid #72c7e5;
}

.select {
    margin-left: 12%;
    text-align:center
}


/* IE 10, 11의 네이티브 화살표 숨기기 */
select::-ms-expand { 
  display: none;
  ;
}

.main_menu {
    background-color:#fffe9a;
    width: 30vw;
    float:left;
    margin: 0px 0px 0px 2.5vw;
    height: 25vh;
}


.checkbox {
    display: inline-block !important;
    cursor: pointer;
    font-size: 13px !important;  
    margin: 0px 0px 0px 5px !important;              
}
input[type=checkbox] {
    display: none;
}
.checkbox:before {
    content: "";
    display: inline-block;
    width: 17px;
    height: 17px;
    vertical-align: middle;
    background-color: white;
    color: black;
    text-align: center;
    border: 2px solid #26ade8;
}
input[type=checkbox]:checked + .checkbox:before {
    content: "\2713";
    background-color: white;
    text-shadow: 0px 0px 0px black;
    font-size: 17px;
}

label {
font-weight: normal !important;
}

.nav_img {
    padding: 0px 0px 0px 0px !important;
}